
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QUAL COMBUSTÍVEL?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
  <div>
    <img src="assets/img/{{ carro }}">
  </div>

  <ion-item>
    <ion-label position="floating">
      Gasolina R$
    </ion-label>
    <ion-input type="number" [(ngModel)]="gasolina"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Etanol R$
    </ion-label>
    <ion-input type="number" [(ngModel)]="etanol"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <p class="ion-text-center">Abastece com: {{ resposta }}</p>
  </ion-item>
  <div>
    <ion-button color="warning" expand="block" (click)="verificar()">
      CALCULAR
    </ion-button>
  </div>  
 <!--<div>
    <ion-button espand="block" color="warning" (click)="trocarCarro(0)">
      Carro1
    </ion-button>
  </div>
  <div>
    <ion-button espand="block" color="warning" (click)="trocarCarro(1)">
      Carro2
    </ion-button>
  </div>
  <div>
    <ion-button espand="block" color="warning" (click)="trocarCarro(2)">
      Carro3
    </ion-button>
  </div>
  <div>
    <ion-button espand="block" color="warning" (click)="trocarCarro(3)">
      Carro4
    </ion-button>
  </div>--> 
  </div>
</ion-content>