
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QUAL COMBUSTÍVEL?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img src="assets/img/inicio.jpg"></ion-img>
      <div>
        <ion-item>
          <ion-label position="floating">
            Preço da Gasolina
          </ion-label>
          <ion-Input type="number"></ion-Input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Preço do Etanol
          </ion-label>
          <ion-Input type="number"></ion-Input>
        </ion-item>
      </div>
      </div> 
</ion-content>